.form {
	@apply w-4/12
    md:px-5
    md:pt-3
    md:pb-5
    xs:px-2
    xs:pt-1
    xs:pb-2
    rounded
  bg-gray/80
    flex
    flex-col
    justify-center
    items-center
    xs:gap-1
    md:gap-3
    shadow-lg;
}

.form__input {
	@apply w-full 
    xs:text-xs
    sm:text-base
    xs:h-7
    md:h-10 
    rounded 
    p-2 
    outline-none 
    transition-all 
    duration-150 
    border-gray/0
    border-2 
    hover:border-black/50 
    hover:shadow-md 
    hover:shadow-black/50 
    focus:border-blue 
    focus:shadow-md 
    focus:shadow-blue
    placeholder-shown:text-xs;
}

.input__err {
	@apply w-full
     xs:h-1 
     md:h-3 
     xs:mb-1 
     md:mb-0 
     mt-1 
     pl-1 
     text-left
   text-red 
     xs:text-[7px] 
     sm:text-[8px] 
     md:text-[10px] 
     xs:leading-none 
     font-bold;
}

.input__wrapper {
	@apply flex flex-col;
}

.input__label {
	@apply xs:text-xs md:text-base font-bold;
}

.btn__submit-form {
	@apply mt-5 
    w-full 
    h-11 
    bg-green/50 
    border-black 
    border-2 rounded 
    font-bold 
    duration-200 
    xs:text-xs
    xs:leading-3
    md:leading-4
    md:text-xl 
    hover:scale-105 
    active:scale-100 
    disabled:bg-gray/0 
    disabled:scale-100 
    disabled:opacity-15 
    disabled:hover:bg-gray/0 
    disabled:hover:border-black
    xs:disabled:text-xs
    xs:disabled:leading-3
    md:disabled:text-base
    md:disabled:leading-4;
}
