.form__input {
	@apply w-full 
    h-10 rounded 
    p-2 outline-none 
    transition-all 
    duration-200 
    border-black 
    border-2 
    hover:border-black/50 
    hover:shadow-md 
    hover:shadow-black/50 
    focus:border-blue 
    focus:shadow-md 
    focus:shadow-blue;
}

.input__wrapper {
	@apply flex flex-col;
}

.input__label {
	@apply font-bold;
}

.btn__submit-form {
	@apply mt-5 
    w-full 
    h-11 
    bg-green/50 
    border-black 
    border-2 rounded 
    font-bold 
    duration-200 
    text-xl 
    hover:scale-105 
    active:scale-100 
    disabled:bg-gray/0 
    disabled:scale-100 
    disabled:opacity-15 
    disabled:hover:bg-gray/0 
    disabled:hover:border-black;
}
