.messengers {
	@apply p-1 fixed xs:right-3 md:right-5 xl:right-14 flex justify-around items-center flex-col xs:gap-1 xs:w-12 xs:h-24  sm:gap-0 md:w-16 md:h-28 bg-red/70 rounded-full z-50 box-border;
}

.messengers__link {
	@apply rounded-full 
    opacity-55 
    hover:scale-105 
    hover:opacity-100 
    transition-all 
    duration-100 
    active:scale-100;
}

.messengers__list-item {
	@apply flex items-center justify-center md:w-10/12 h-2/5 rounded-full;
}
