.navigation__item {
	@apply hover:opacity-75
        transition-all
        duration-150
        active:scale-95;
}

.navigation__list {
	@apply pr-5 
        pl-5 
        flex 
        xs:flex-col
        items-center 
        sm:flex-row 
        sm:gap-7 
        xs:text-xs
        sm:text-lg
        border-2 
        border-darkgray 
        rounded-r-md 
        rounded-l-md;
}
