.header__phone {
	@apply flex 
	items-center 
	font-bold
	xs:text-xl
	sm:text-2xl
	md:text-4xl
	 text-red 
	 max-h-9 
	 content-center;
}

.header__btn {
	@apply md:min-w-64 
		md:min-h-10 
		sm:w-44
		sm:h-8
		xs:w-44
		xs:h-8
		flex 
		flex-row 
		items-center 
		justify-between 
	    border-2 
	  border-black
	  dark:border-darkgray
	    rounded-full 
	    overflow-hidden 
	    transition-all 
	    duration-75 
	    active:scale-95 
	    focus:outline-none 
	    hover:scale-110;
}
