@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./fonts/fonts.css);
@import url(./components/Header/header.css);
@import url(./components/Footer/footer.css);
@import url(./components/AboutUs/aboutus.css);
@import url(./generalStyle/sectionTitle.css);
@import url(./generalStyle/arrowBtn.css);
@import url(./components/RoolRequestForm/roolrequestform.css);
@import url(./components/Messengers/messengers.css);
@import url(./components/MainLoader/mainloader.css);
@import url(./components/WorksGallery/worksgallery.css);

body {
	min-width: 200px;
	margin: auto;
	font-family: "ZenKaku", Arial, Helvetica, sans-serif;
	max-width: 1280px;
	background-color: #ffffff;
}

.app {
	display: flex;
	flex-direction: column;
	flex: 1 auto 1;
	align-items: center;
	justify-content: center;
	position: relative;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

svg {
	display: flex;
	align-items: center;
}
